#facility{width: 950px;border-top: 1px solid #4672C0;margin-top: 30px;}
#facility .tag{font-size: 14px;color: #323B43;margin: 12px 0;}
#facility .fold-info{width: 950px;height: 100px;}
#facility .tag img{margin-right: 6px;}
#facility li{float: left;width: 10%;color: #797F85;font-size: 12px;margin-bottom: 10px;}